[loggers]
keys=root,daemon

[handlers]
keys=consoleHandler, kafkaHandler

[formatters]
keys=consoleFormatter, kafkaFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_daemon]
level=INFO
handlers=kafkaHandler
qualname=daemon
propagate=0

[handler_consoleHandler]
class=StreamHandler
level=INFO
formatter=consoleFormatter
args=(sys.stdout, )

[handler_kafkaHandler]
class=kafka_handler.KafkaHandler
level=INFO
formatter=kafkaFormatter
args=("192.168.1.105:9092",)

[formatter_consoleFormatter]
format=[%(funcName)s line: %(lineno)d %(levelname)s] %(message)s

[formatter_kafkaFormatter]
format=[%(asctime)s %(filename)s line: %(lineno)d %(levelname)s] %(message)s






